<template>
  <div class="proListDetail">
    <div class="iphoneX-main" id="iphoneX-main-proListD">
        <div class="product-main" id="proListDetailMain">
          <div class="product-mianly">
            <div class="proDetail-main-top">
              <van-swipe :autoplay="3000">
                <van-swipe-item v-for="(proltDesImage,index) in proltDesImages" :key="index" class="proDetail-img">
                  <img class="j-img" v-lazy="proltDesImage.img" :key="proltDesImage.img" />
                </van-swipe-item>
              </van-swipe>
            </div>
            <ul class="proDetail-main-des">
              <li class="des-li des-tt">
                <div class="des-tt-name">{{proltDeTitle}}</div>
              </li>
              <li class="des-li" v-show="shortDesShow">
                <h4 class="des-li-desTt">{{proltDeShortTt}}</h4>
                <div class="des-li-p" id="des-li-p"></div>
              </li>
              <li class="des-li" v-show="adressDesShow">
                <h4 class="des-li-desTt">{{proltDeLocation}}</h4>
                <p class="des-li-p">
                  <span><i class="iconfont icon-location"></i></span>
                  <span>{{proltDeLocationDetail}}</span>
                </p>
              </li>
              <li class="des-li" v-show="longDesShow">
                <h4 class="des-li-desTt">{{proltDeLongTt}}</h4>
                <div class="des-li-p" id="des-li-pLong"></div>
              </li>
              <li class="des-li des-recommend-box" v-show="recommendShow">
                <h4 class="des-li-desTt">{{proltDeRec}}</h4>
                <ul class="des-recommend">
                  <li class="des-red-li" v-for="(desReg,index) in desRegs" :key="index" @click="jumpRec(index)">
                    <div class="li-img">
                      <router-link to="">
                        <img class="li-images" v-lazy="desReg.img"  :key="desReg.img" />
                      </router-link>
                    </div>
                    <div class="li-tt">
                      <h3 class="li-tt-title">{{desReg.name}}</h3>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="common-left-icon">
            <div class="common-bottom-left" @click="jumpProlist">
              <i class="iconfont icon-back1"></i>
            </div>
            <div class="common-bottom-right" id="cartPosition">
              <cartPage ref="cartpage"></cartPage>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
  import cartPage from "../../../components/cartPage.vue";
  export default {
    name: "proListDetail",
    components: {
      cartPage
    },
    data() {
      return {
        productDetailTt: "",
        proDeatilImg: "",
        proltDeTitle: "Mivan Japanese", // 标题
        proltDeShortTt: "Short Description", // 短描述标题
        proltDeShortDes: "Short Description", // 短描述
        proltDeLocation: "Location", // 地址
        proltDeLocationDetail: "", // 详细地址
        proltDeLongTt: "", // 长描述
        proltDeLongDes: "", // 长描述信息
        proltDeRec: "", // 推荐
        proLtDePageId: [], // 导航id
        proltDesImages: [], // 头部导航栏数据
        desRegs: [],
        shortDesShow:false, // 短描述是否显示
        adressDesShow:false, // 地址是否显示
        longDesShow:false,  // 长描述是否显示
        recommendShow:false
      };
    },
    mounted: function() {
      //this.isIPhoneX("iphoneX-main-proListD","");   // iphoneX适配问题
      let pageIdArr = this.$route.query.pageId; // 获取当前页面上的pageID
      if (pageIdArr) {
        this.proLtDePageId = pageIdArr; //路由id
      }
      this.proListDeatilLoad(); // 页面进入加载
    },
    methods: {
      proListDeatilLoad: function() {
        let _this = this; // 信息加载
        let proDetailData = localStorage.getItem("proListDetailData"); // 设定该商品信息
        let proDetailDataJson = JSON.parse(proDetailData); // 商品信息
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {
          // 英文状态下
          _this.proltDeShortTt = "Short Description"; // 简介
          _this.proltDeLongTt = "Long Description"; // 标题描述
          _this.proltDeRec = "Recommended With"; //推荐
          _this.proltDeLocation = "Location"; // 地址
          _this.productDetailTt = "Details"; // 设定标题
        } else if (languageSet == "zh-cn") {
          // 中文状态下
          _this.proltDeLongTt = "长描述"; // 标题描述
          _this.proltDeShortTt = "短描述"; // 简介
          _this.proltDeRec = "相关推荐"; //推荐
          _this.proltDeLocation = "地址"; // 地址
          _this.productDetailTt = "详情"; // 设定标题
        }
        // 设置信息列表
        setJsonData(proDetailDataJson);
        function setJsonData(proDetailDataJson) {
          console.log("proDetailDataJson",proDetailDataJson);
          if (proDetailDataJson) {
            _this.proltDeTitle = proDetailDataJson.translates[languageSet].title; //产品名称
            let proltDeShortDesL =
              proDetailDataJson.translates[languageSet].description;
              if(proltDeShortDesL){
                 _this.shortDesShow = true; // 短描述是否显示
                 document.getElementById("des-li-p").innerHTML = proltDeShortDesL; //该产品的短描述
              }else{
                _this.shortDesShow = false; // 短描述是否显示
              }
           
            let addMessage =
              proDetailDataJson.translates[languageSet].additionalMessages; // 获取长描述的json
            if (addMessage) {
              if(addMessage[0] && addMessage[0].message){
                 _this.proltDeLocationDetail = addMessage[0].message; // 该产品地址
                 _this.adressDesShow = true; // 地址是否显示
              }else{
                _this.adressDesShow = false; // 地址是否显示
              }
              if(addMessage[1] && addMessage[1].message){
                 document.getElementById("des-li-pLong").innerHTML = addMessage[1].message; //该产品的短描述
                  _this.longDesShow = true; // 长描述是否显示
              }else{
                 _this.longDesShow = false; // 长描述是否显示
              }
            }
           
            let proltArr = []; // top部信息初始化
            if (allImagesObj) {
              // 判断图片是否存在
              if (proDetailDataJson.info && proDetailDataJson.info.images) {
                let proltDeImages = proDetailDataJson.info.images; // 获取图片
                for (let k = 0; k < proltDeImages.length; k++) {
                  let imgIdList = proltDeImages[k].internalImageId; // 图片的id地址
                  let imgUrlList = allImagesObj[imgIdList].internal_image_url; // top图片设置
                  let proltDeJsonList = {
                    img: imgUrlList
                  };
                  proltArr.push(proltDeJsonList); // 存入top信息
                }
              } else if (proDetailDataJson.logo) {
                let imgId = proDetailDataJson.logo.internalImageId; // 图片的id地址
                if (imgId) {
                  let imgUrl = allImagesObj[imgId].internal_image_url; // top图片设置
                  let proltDeJson = {
                    img: imgUrl
                  };
                  proltArr.push(proltDeJson); // 存入top信息
                }
              }
              _this.proltDesImages = proltArr; // top信息赋值
            }
            // 加入购物车
            let productCongig = proDetailDataJson.variantData;
            if (
              productCongig &&
              productCongig.optionGroups &&
              productCongig.optionGroups.length > 0
            ) {
              _this.isShowCart = true; // 购物配置信息弹框弹出
              let proOptionGroups = productCongig.optionGroups; // 获取该产品的配置信息
              for (let j = 0; j < proOptionGroups.length; j++) {}
            } else {
              _this.isShowCart = false; // 购物无相关配置信息，直接加入购物车
              _this.productId = proDetailDataJson.langAgnosticId; // 产品的langAgnosticId信息
              _this.variants = []; // 产品配置信息
            }
            let recommendPageIdArr = proDetailDataJson.relatedPageIds; // 相关推荐
            if (recommendPageIdArr) {
              let recStr = recommendPageIdArr.join(","); // 解析pageId为字符串
              getRecomArr(recStr); // 调取推荐列表的信息
              _this.recommendShow = true; // 推荐列列表不存在，隐藏
            } else {
              _this.recommendShow = false; // 推荐列列表不存在，隐藏
            }
          }
        }
        function getRecomArr(str) {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              str +
              "&" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                let recData = sucss.data.data; // 相关
                let recArr = []; // 相关推荐信息
                for (let i = 0; i < recData.length; i++) {
                  let recDataList = recData[i];
                  let recTitle = recData[i].translates[languageSet].title; //产品名称
                  let recImgUrl = "";
                  if (allImagesObj) {
                    let recImgId = recData[i].logo.internalImageId; // 图片的id地址
                    if (recImgId) {
                      recImgUrl = allImagesObj[recImgId].internal_image_url; // top/banner图片设置
                    }
                  }
                  let recPageId = recDataList.id; // pageId值
                  let json = {
                    img: recImgUrl, // 相关推荐的图片链接地址
                    href: "proListDetail",
                    name: recTitle, // 相关推荐的名称
                    id: recPageId,
                    recDataListJson: JSON.stringify(recDataList) // 当前产品的信息
                  };
                  recArr.push(json); // 推荐列表数据汇总
                }
                _this.desRegs = recArr; //推荐列表页数据渲染
              }
            });
        }
      },
      jumpProlist: function() {
        this.$router.push({
          name: "proList",
          query: {
            pageId: this.proLtDePageId
          }
        }); // 返回上一级页面
      },
      jumpRec: function(index) {
        this.$router.push({
          name: "proListDetail",
          query: {
            pageId: this.proLtDePageId
          }
        });
        let proListDeData = this.desRegs[index].recDataListJson;
        localStorage.setItem("proListDetailData", proListDeData);
        this.proListDeatilLoad(); // 重新加载
        let scrollObj = document.getElementById('proListDetailMain'); // 滚动区域
        scrollObj.scrollTop = 0; // 推荐切换时，滚动条返回顶部
      }
    },
    destroyed: function() {
      // 清除整体订单的备注
      localStorage.setItem("wholeResText", "");
    }
  };
</script>

<style src="../css/proListDetail.scss" lang="scss" scoped>

</style>

