html{color:#000;background:#fff; width:100%; height: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0; font-family: 新宋体 ，MicrosoftYaHei;}
body{font:12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;width:100%; height: 100%;}
img{border:none;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4, h5, h6{font-size:100%;}

q:before,q:after{content:'';}/* 消除q前后的内容 */
button,input,select,textarea{font-size:100%;}/* 使得表单元素在 ie 下能继承字体大小 */
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var,i{font-style:normal;} /* 将斜体扶正 */

/* link */
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:-webkit-any-link{
    text-decoration: none;
}
.clear-box{
    clear: both;
}
.clearFix:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.clearFix{
    zoom:1;  /*为了兼容IE*/
}

.link-animation{
    display: inline-block;
    width: 42px;
    height: 40px;
    -webkit-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-animation: link 1s linear infinite;
    -o-animation: link 1s linear infinite;
    animation: link 1s linear infinite;
}
@-webkit-keyframes link {
    from{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    25%{
        -webkit-transform: scale(.8,.8);
        transform: scale(.8,.8);
    }
    50%{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    75%{
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
    to{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@keyframes link {
    from{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    25%{
        -webkit-transform: scale(.8,.8);
        transform: scale(.8,.8);
    }
    50%{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    75%{
        -webkit-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
    to{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}