/**公共部分*/
.common-left-icon .common-bottom-left, .common-left-icon .common-bottom-right{
    background:rgba(170,76,125,0.7) !important;
}
.common-left-icon .common-bottom-left .iconfont, .common-left-icon .common-bottom-right .iconfont{
    color:#fff !important;
}

.common-left-icon .common-bottom-right .van-icon-cart{
    color:#fff !important;
    /* color:#AA4C7D !important; */
}
.iconfont, a, a:hover{
    color:#333;
}
.cartInfo .van-tabbar-item__icon{
    margin-bottom: -6px;
}



/**启动页*/
.pageLoad {
    background: #AA4C7D !important;
    /* background: transparent !important; */
}

.pageLoad .pageLoad-title {
    color: rgba(255, 255, 255, 1) !important;
}

.pageLoad .loadingLogo img {
    padding-top: 3.02rem;
    margin: auto;
    height: 1.5rem;
}

.pageLoad .pageLoad-progress {
    color: #FFCCCC !important;

}

.pageLoad .pageLoad-progress a {
    color: #FFCCCC !important;
}

.pageLoad .pageLoad-footer {
    color: rgba(255,207,215,0.8) !important;
}

.pageLoad .pageLoad-footer a {
    color: #fff !important;
}


.pageLoad .loadingLogo img {
    padding-top: 3.02rem;
    margin: auto;
    height: 1.5rem;
}
.pageLoad .van-circle__text{
    color: #FFCCCC !important;
}
.pageLoad .van-circle__hover{   
    stroke: rgba(255,207,215,.3) !important;
}

.pageLoad .van-circle__layer{
    stroke: #FFCFD7 !important;    
}



/**欢迎页*/

.welcome {
    background:linear-gradient(rgba(250, 249, 249, 0.3) 0%,rgba(228, 240, 238, 0.6) 100%) !important;
    font-family: 新宋体 ，MicrosoftYaHei !important;
    
    /* background: url(../images/bg.png) no-repeat !important;
    background-size: cover !important; */
}

.mainSetImageBg{
  
}
.welcome .welcome-title{
    color:#AA4C7D !important;
}
.welcome .welcome-note-tt{
    color: #333 !important;
}
.welcome .welcome-note-p{
    color: #333 !important;
}
.welcome .signature-box{
    color: #333 !important;
}
.welcome .languageBtn{
    background: #FFCCCC !important;

    float: left;
    width: 84% !important;
    height: 0.8rem;

    margin: 2% 0 0 8% !important;
    border-radius: 0.1rem;
    border: 0;
    font-size: 0.32rem;
}


.welcome .languageBtn.languageBtnActive {
    background: #AA4C7D !important;
}



/* 所有页面头部 */

.header-tt{
    color: #333333 !important;
    background: #fff !important;
}
.header-ul{
    color: #333333 !important;
}
.header-ul .iconfont{
    color: #333 !important;
}
.header-li-right .van-tabbar-item__icon{
    color: #333 !important;
}
a{
    color:#333 !important;
}

/* 页面底部
 */
 .iphoneX-footer{
    background: #fff !important;
}


/**首页 - 含侧边栏字体颜色*/
.index{
    color: #333333 !important;
}
/* 首页主层右边阴影*/
.index  .index-main{
    box-shadow: 0.06rem 0.03rem 0.1rem 0 rgba(12,34,29,0.50) !important;

}
/* 首页半透明层 */
.index .index-main-opacity{
    color: #333 !important;
    background: #fff !important;
    /* background: linear-gradient(rgba(255, 207, 215, 0.9) 0%,rgba(255, 207, 215, 0.3) 100%) !important; */
}

.index .iphoneX-main{
    background: #EFEFEF !important;
}


/* LOGO*/

.logoImg{
   height: 0.5rem !important
}


/* Banner轮播图 */
.van-swipe__indicators .van-swipe__indicator{
    background-color:#fff !important;
}

.van-swipe__indicators .van-swipe__indicator--active{
    background-color:#AA4C7D !important;
}



/* 首页列表背景 */
.index .index-list{
    background:#fff !important;
}
/* 特别推荐的大分类外边框 */
.index .list-li-outborder{
    border: 0.02rem solid rgba(170,76,125,0.7) !important;
}
/* 特别推荐的大分类内边框 */
.index .list-li-inborder{
    border: 0.01rem solid rgba(170,76,125,0.7) !important;
}
/* 首页图标字体颜色 */
.index .list-li-inborder .iconfont{
    color:#333 !important;
}
/* 首页列表标题字体颜色*/
.index .list-li-tt{
    color: #333 !important;
}
/* 滑动分类 */
.index .index-moves{
    background: #fff !important;
} 
/* 天气预城市 */
.index .index-weather-adress{
    /* bottom: 0.1rem !important; */
    background: #fff !important;
}
.index .index-weather-adress .adress{
    color: #333 !important;
}
.index .index-weather-adress .weather{
    color:#333 !important;
    /* height:2.8rem !important; */
 }
 .index .weather-icon{
    color:#AA4C7D !important;
    /* margin-top: -0.3rem !important; */
}
.index .weather-temp{
    color: #333 !important;
}
.weather-time{
    color: #333 !important;
}

/* 页脚 */
.banner-footer{

      background: #fff !important;
      color:rgba(172,175,174,0.8) !important;

    display: none !important;
}





/**侧边栏index-slider*/

.index-slider{
    background:#fff !important;
    /* background: linear-gradient( rgba(10, 35, 99, 0.7) 10%, rgba(0, 64, 152, 0.3) 100%) !important; */

}
.index-slider .iphoneX-main{
    background:#fff !important;
}
.slider-top-ul {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
  }
[class*="van-hairline"]::after {
border: 0 solid rgba(0, 0, 0, 0);
}
.slider-top-li .van-tabbar-item__icon {

    color: #333 !important;
  }
  .index-slider-li {
 
    border-bottom: 0.02rem solid rgba(17, 52, 44, 0.8);
    
  }
  .index-slider-li .sliderActive {
    color: #AA4C7D !important;
  }


/**信息类型列表页*/

/*信息类型 - 侧边栏字体颜色 */
.proList{
    color: #333 !important;
}

.proList .index-main-opacity{
    color: #333 !important;
    background: #EFEFEF !important;
}
.proList .header-tt{
    /* color:#333 !important;
    background: #fff !important; */
}
.proList .product-title{
    color:#A0A0A0 !important;
    background: rgba(255, 255, 255, 1) !important;
}
.proList .pro-tt-ul{
    color:#f4f4f4; 
}
.proList .pro-tt-li{
    border-bottom:0.03rem solid rgba(68, 64, 64, 0) !important;
}

.proList  .pro-tt-li-active{
    color:#AA4C7D !important;
    border-bottom:0.03rem solid #AA4C7D !important;
}

.proList  .product-list{
     color:#000;
}
.proList .product-list-main{
    color:#000;  
}
.proList .pro-main-li{
    background: #FFFFFF !important;
}
.proList .pro-main-li .pro-li-des{
    color:#333333 !important;
}
.proList .pro-main-li .pro-li-des .pro-des-detail{
    color: #A0A0A0 !important;
}





/**商品、点餐模块列表页*/
.product{
    color: #333 !important;
}

.product .index-main-opacity{
    color: #333 !important;
    background: #EFEFEF !important;
}
.product .header-tt{
    color:#fff;

}

.product .product-title{
    color:#A0A0A0 !important;
    background: rgba(255, 255, 255, 1) !important;

}
.product .pro-tt-ul{

    color:#f4f4f4; 

}
.product .pro-tt-li{

    border-bottom:0.03rem solid rgba(0,0,0,0);

}
.product .pro-tt-li-active{
    color:#AA4C7D !important;
    border-bottom:0.03rem solid #AA4C7D !important;
}
.product .product-list{

     color:#000;
}
.product .product-list-main{

    color:#000;  


}
.product .pro-main-li{

    background: #FFFFFF !important;
}
.product .pro-main-li .pro-li-des{
 
    color:#333 !important;
}
.product .pro-main-li .pro-li-des .pro-des-icon .icon-cart{

        color:#AA4C7D !important;
}


.product .proModel{
    background:rgba(0,0,0,0.5);

}
.product  .proModel  .proModel-content{
    background: #FCFCFC; 
}
.product  .proModel  .proModel-tt{

    border-bottom: 0.01rem solid #D3D3D3;
    color: #191814;
}
.product  .proModel .proModel-ul::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.product  .proModel .proModel-ul::-webkit-scrollbar-thumb {
    background-color: #AA4C7D !important;

}

.product  .proModel .proModel-li{

    color:  #848484;
}
.product  .proModel .proModel-li .size-num{

    background: rgba(132,132,132,0.30);

    color: #848484;

}
.product  .proModel .proModel-li  .cook-li{

    background: rgba(132,132,132,0.30);

}
.product  .proModel .proModel-li .choice-active{
    background: rgba(210,172,43,0.30);
    color:#AA4C7D !important;
}  
.product .proModel .proModel-footer{

    border-top: 0.01rem solid #D3D3D3;
}
.product .proModel .proModel-footer  .price{

        color: #AA4C7D !important;

    }
.product .proModel .proModel-footer  .conBtn{

        background: #B35E8A !important;

        color:#f4f4f4;


    }
.product  .ball {
    background: #AA4C7D !important;

}


/* 详情页开始================================================================================ */

/* 信息类型详情页 */

.proListDetail{
    color: #333 !important;
    background: #fff !important;
}
.proListDetail .header-tt{
    color:#333;
}

.proListDetail .proDetail-main-des .des-tt{
    color: #AA4C7D;
    font-weight:300;
}


/**商品页详情**/
.productDetail{
    color: #333 !important;
    background: #FFFFFF !important;
}
.productDetail .proDetail-main-des .des-tt-price{
    color: #AA4C7D !important;
}
.productDetail .proDetail-main-des .des-tt-span .iconfont{
    color: #AA4C7D !important;
}
.productDetail .proDetail-main-des .des-tt-btn{
    background: #AA4C7D !important;
}
.productDetail .ball{
    background: #AA4C7D !important;
}

/**天气预报详情页 weatherDetail */

/* 天气预报-侧边栏字体颜色 */
.weatherDetail{
    color: #333 !important;
}
.weatherDetail .iphoneX-footer{
    background: #f4f4f4 !important;
}
.weatherDetail .index-main-opacity{
    color: #333 !important;
    background: #fff !important;
        /* background: linear-gradient(rgba(10,35,99,0.9) 0%,rgba(0,64,152,0.6) 100%) !important; */
}
.weatherDetail .weatherDetail-box .weather-main .weather-top{
    background: #FFF !important;
    color: #333 !important
}
.weatherDetail .weatherDetail-box .weather-main .weather-top .top-tt .top-tt-left .left-li{
    color:#333333 !important;
}
.weatherDetail .weatherDetail-box .weather-main .weather-top .top-tt .top-tt-right .btn{
    background:rgba(171,77,126,0.27) !important;
    color:#333333 !important;
}


.weatherDetail .weatherDetail-box .weather-main .weather-top .top-tt .top-tt-right .btn .btn-left, .weatherDetail .weatherDetail-box .weather-main .weather-top .top-tt .top-tt-right .btn .btn-right{
    color:#333333 !important;
}


.weatherDetail .weatherDetail-box .weather-main .weather-top .top-tt .top-tt-right .btn .btn-active{
    background: #AA4C7D !important;
    color: #f4f4f4 !important;
}





 /*cartIcon*/
 .van-tabbar--fixed{
    background: rgba(0,0,0,) !important;
}


/**购物车详情*/
.cartShopping {
    color: #333 !important;
}
.cartShopping .header-tt {
    color: #333 !important;
}
.cartShopping .cartShopping-main {
    border-top: 0.12rem solid #EFEFEF !important;
}
.cartShopping .cartShopping-mianly {
    background: #fff;
}
.cartShopping .cartShopping-mianly .list {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 2rem;
    color: #000;
    overflow: auto;
}

.cartShopping .cartShopping-mianly .list .list-ul .list-li {
    border-bottom: 0.01rem solid #EFEFEF !important;
}
.cartShopping .cartShopping-mianly .list .list-total .total-money{
    color: #AA4C7D !important;
}
.cartShopping .cartShopping-mianly .list .list-ul .list-li  .list-li-btn {

    color: #333 !important;

}
.cartShopping .cartShopping-mianly .list .list-ul .list-li .list-li-btn .icon-none {
    color: #333 !important;

}
.cartShopping .cartShopping-mianly .list .list-ul .list-li .list-li-btn .icon-state1 {
    color: #AA4C7D !important;

}
.cartShopping .cartShopping-mianly .list .list-ul .list-li .list-li-btn .icon-choice {
    color: #AA4C7D !important;
    
}

.cartShopping .cartShopping-mianly .list .list-ul .list-li .li-mian-top .li-des .li-des-li .name .iconfont{
    color: #AA4C7D !important;
}

.footer-btn-box .btn{
    background:#AA4C7D !important;
}
.cartShopping .cartModel {
    background: rgba(0, 0, 0, 0.5);   
}

.cartShopping .cartModel .cartModel-content {
    background: #FCFCFC;
}



.cartShopping .cartModel .cartModel-content .cartModel-close .iconfont {

    color: #6a6a6a;
}


.cartShopping .cartModel .cartModel-content .cartModel-ul .cartModel-li {

    background: #AA4C7D !important;;
    border: 0.01rem solid #ccc;

}

.cartShopping   .cartModelRoomNum   .cartModel-input-box     .cartModel-input-li   .inputCart-country {
    border: 0.02rem solid #ccc;
}
.cartShopping   .cartModelRoomNum   .cartModel-input-box     .cartModel-input-li     .inputCart-mobile {
    border: 0.02rem solid #ccc; 
}
.cartShopping   .cartModelRoomNum .roomNumBtn {
    background: #AA4C7D !important;;
    border: 0.01rem solid #ccc;
    color: #F4F4F4;
}
 


/* 登录界面 */

.signIn,.register,.findPW{
    color:#fff;
    background: url(../images/login_bg.png) no-repeat !important;
    background-size: cover !important;
  }

.signIn .index-main-opacity,.register .index-main-opacity ,.findPW .index-main-opacity{

    width:7.5rem;
    height:100%;
    background:rgba(0, 0, 0, 0.7) !important

}

.signIn .iconfont{
    color:#F4F4F4 !important;
}
.signInUp{
    border:0.02rem  solid #F4F4F4;
    color: #F4F4F4;
}
.signIn-instruction{
color: #F4F4F4;
}
.signIn-tt{
    color: #F4F4F4;
}

.signIn .register-prompt-alert{
    background:  #AA4C7D !important;
  }
  
.signIn-li{
    color: #f4f4f4 !important;
}
.signIn-li  .signIn-reg{
    color: #f4f4f4 !important;
}
.signIn-li  .signIn-reset{
    color: #f4f4f4 !important;
}
.input-text{
    color: #FFCFD7;
}
  
.register-button {
 
    background: #AA4C7D !important;
  
    color: #F4F4F4 !important;
   
  }

  
.register-button a {

    color: #F4F4F4 !important;
  
  }

  .register .header-tt,.findPW .header-tt{
      color: #F4F4F4 !important;
      background: transparent !important;
  }
.register-prompt .van-popup{
    background:  #AA4C7D !important;
  }

.input-times,
.input-country {
    float: left;
    width: 29.5%;
    margin-left: 0.5%;
    text-align: center;
    font-size: 0.3rem;
    color: #FFCFD7 !important;
    border-radius: 0;
    border-top-right-radius: 0.05rem;
    border-bottom-right-radius: 0.05rem;
}
.input-mobile{
    width: 69% !important;
}

.setting .setting-signOut{
    background: rgba(170,76,125,1) !important;
}
.gender-btn{
    background: rgba(170,76,125,1) !important;
}
.gender-li-icon .iconfont{
    color: #B35E8A !important;
}




/* 订单列表 */
.orderListQuery .orderList-main .orderList-main-tt .orderList-tt-active{
    color:#B35E8A !important;
    border-bottom:0.03rem solid #A8517E !important;
}

.cartEmpty a{
    color:#f4f4f4 !important;
}
.cartEmpty .cart-btn{
   
    background: rgba(170,76,125,1) !important;
}
