<template>
<div class="cartEmpty">
  <div class="iphoneX-main" id="iphoneX-main-orderCon">
    <!-- <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <router-link to="/index">
            <i class="iconfont icon-back1"></i>
          </router-link>
        </li>
        <li class="header-li-middle">
          {{productDetailTt}}
        </li>
      </ul>
    </div> -->
    <div class="cart-main">
      <div class="cart-warn">
        <h3 class="cart-warn-tt"><span>{{paymentText}}</span>{{payTotal}}</h3>
        <div class="cart-img">
          <img class="cart-images" v-lazy="cartImg" :key="cartImg" />
        </div>
        <button type="button" class="cart-btn" @click="confirmOrder"><router-link to="">{{confirmBtn}}</router-link></button>
      </div>
    </div>
    <div class="common-left-icon">
        <div class="common-bottom-left" @click="jumpIndex">
            <i class="iconfont icon-back1"></i>
        </div>
    </div>
  </div>
</div>  
</template>

<script>
  export default {
    name: "orderConfirm",
    data() {
      return {
        productDetailTt: "",
        cartImg: "",
        orderListId: "",
        urlWay: "",
        payTotal: "",
        paymentText: "",
        confirmBtn: ""
      };
    },
    mounted: function() {
      this.payMentLoad();
    },
    methods: {
      payMentLoad: function() {
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.paymentText = "Your payment is:";
          this.confirmBtn = "Confirm";
          this.productDetailTt = "Payment";
        } else {
          this.paymentText = "您的付款是：";
          this.confirmBtn = "确认";
          this.productDetailTt = "付款";
        }
        let urlPath = localStorage.getItem("urlPath"); // 订单编号
        if (JSON.parse(urlPath)) {
          let jsonList = JSON.parse(urlPath);
          this.payTotal = jsonList.totalPay;
          this.cartImg = require("../images/ways/" + jsonList.order + ".png");
          this.orderListId = jsonList.id;
          this.urlWay = jsonList.way;
        }
      },
      confirmOrder: function() {
        // 现金、信用、挂房账
        let _this = this;
        _this.axios
          .post(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer_order/" +
            _this.orderListId +
            "/mark_paid/?" +
            _this.urlWay +
            "&" +
            _this.$root.junAppName +
            ""
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                console.log("document.cookieOrderConfirm", document.cookie);
                _this.$router.push({
                  path: "/paySucss"
                });
              }
            },
            function(err) {
              _this.$router.push({
                path: "/payFailed"
              });
            }
          );
      },
      jumpIndex: function(){
        this.$router.push({path: "/index"});
      }
    }
  };
</script>

<style src="../css/cartEmpty.scss" lang="scss" scoped>

</style>

