.register{
  width:100%;
  height: 100%;
  // background: #2c4f48;
  color:#fff;
  .header-tt{
    width:100%;
    height: auto;
  }
  .index-main-opacity{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center; 
  }
  .register-instruction{
    margin:0.5rem 0 0.2rem 0.32rem;
    // margin-left: 0.3rem;
    width: auto;
    height: auto;
    text-align: left;
    font-family: SFUIDisplay-Light;
    font-size:0.26rem;
    color: #F4F4F4;
    letter-spacing: 0;
    line-height: 0.4rem;
    font-weight:lighter;
  }
  .input-li{
    margin-top: 0.1rem;
    .van-radio-group{
      float:left;
      width:100%;
      height: 0.96rem;
      .van-radio{
        float:left;
        width:45%;
        height:0.48rem;
        margin: 0.23rem 2.5%;
        font-size:0.28rem;
        text-align: left;
        .van-radio__input{
          height: 0.48rem;
        }
       .van-icon-checked{
          color:#e5bd36;
        }
        .van-icon{
          font-size:0.48rem;
        }
      }
    }
  }

}



