.signIn{
  width: 100%;
  height: 100%;
  color:#fff;
}
.index-main-opacity{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; 
}

.signInUp{
  display: block;
  border:0.02rem  solid #F4F4F4;
  border-radius: 0.25rem;
  font-family: SFUIDisplay-Light;
  font-size: 0.32rem;
  color: #F4F4F4;
  letter-spacing: 0.0031rem;
  width:1.4rem;
  height: 0.52rem;
  line-height: 0.52rem; 
  text-align: center;
  font-weight: lighter
}

.signIn-instruction{
  margin:auto;
  margin-top: 1.28rem;
  margin-left: 0.3rem;
  width: auto;
  height: auto;
  text-align: left;
  font-family: SFUIDisplay-Light;
  font-size:0.28rem;
  color: #F4F4F4;
  letter-spacing: 0;
  line-height: 0.56rem;
  font-weight:lighter;
}
.signIn-tt{
    font-size: 0.56rem;
    color: #F4F4F4;
    letter-spacing: 0.0011rem;
    font-weight:lighter;
    line-height: 0.56rem;
}
.signIn-p{
  line-height: 0.56rem;
  font-weight:lighter;
  margin-top: 0.15rem;
}
.signIn-inputs{
  margin-top: 0.36rem;
}
.signIn .register-prompt-alert{
  background: #AD2929;
}
.signIn-li{
  text-align: right;
  font-family: SFUIDisplay-Light;
  font-size:0.28rem;
  color: #dCdCdC;
  letter-spacing: 0.0063rem;;
  line-height: 0.4rem;
  font-weight:lighter;
  .signIn-reg{
    float:left;
    color:#ccc;
  }
  .signIn-reset{
    float: right;
    color:#ccc;
  }
}
.signIn .register-btn-box{
  margin-top: 0.4rem;
}
