.weatherDetail{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    // index-main start
    .index-main{
        width:7.5rem;
        height:100%;
        transition: width 0.5s;
        position:absolute;
        right:0;
        top:0;
        z-index:1000;
        overflow:hidden;
        box-shadow: 0.06rem 0.03rem 0.1rem 0 rgba(12,34,29,0.50);
    }
    .index-main-box{
        float:left;
        width:7.5rem; 
        height:100%; 
        
    }
    .index-main-opacity{
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width:7.5rem;
        height:100%;
        background: linear-gradient(rgba(10,35,99,0.9) 0%,rgba(0,64,152,0.6) 100%);
    }

    .weatherDetail-main{
        float:left;
        width: 100%;
        height: 100%; 
    }

    .weatherDetail-box{
        float:left;
        width: 100%;
        height: 100%;
        box-sizing: border-box;  
        position: relative;
        overflow-y: auto;
        .weather-main{
            float:left;
            width: 100%;
            height: auto;
            .weather-top{
                float:left;
                width: 100%;
                height: 6.6rem;
                background: rgba(17, 30, 64, 0.3);                
                color:#F4F4F4;
                .top-tt{
                    float:left;
                    width: 100%;
                    height: 1.8rem;
                    .top-tt-left, .top-tt-right{
                        float:left;
                        margin: 0.5rem 0 0 0.3rem;
                        width: 3.15rem; 
                        height: 0.8rem;
                        text-align: left;
                    }
                    .top-tt-right{
                        float:right;
                        margin: 0.5rem 0.3rem 0 0;
                    }
                    .top-tt-left .left-li{
                        float:left;
                        width:100%;
                        height: 0.4rem;
                        line-height: 0.4rem;
                        font-size: 0.28rem;;
                        color: #F4F4F4; 
                        font-weight: normal;
                    }
                    .top-tt-right .btn{
                        float:right;
                        width:1.6rem; 
                        height: 0.6rem;
                        margin: 0.1rem 0;
                        background: #fff;
                        border-radius: 1rem;
                        .btn-left,.btn-right{
                            width:0.8rem;
                            height: 0.56rem;
                            border-radius: 0.56rem;
                            margin: 0.02rem 0;
                            text-align: center;
                            color: #D2AC2B;
                            line-height:0.56rem;
                            font-size: 0.28rem;
                        }
                        .btn-left{
                            float:left;
                        }
                        .btn-right{
                            float:right;
                        }
                        .btn-active{
                            background: #D2AC2B;
                            color:#fff;
                        }
                    }
                }
                .top-msg{
                    float:left;
                    width:100%;
                    height: 4.8rem;
                    .msg-img{
                        float:left;
                        width:100%;
                        height: 2.8rem;
                        .imgages{
                            margin: auto;
                            height: 2.8rem;
                            width: auto;
                        }
                    }
                    .cur-temp{
                        float:left;
                        width: 100%;
                        height: 0.7rem;
                        text-align: center;
                        font-size: 0.6rem;
                    }
                    .cur-temps{
                        float:left;
                        width: 100%;
                        height: 0.5rem;
                        line-height: 0.5rem;
                        font-size: 0.24rem;
                        text-align: center;
                    }
                }
            }
            .weather-middle{
                float:left;
                width: 100%;
                height: 7.7rem;
                background: rgba(244,244,244,1);
                .wea-li{
                    float:left;
                    width: 100%;
                    height: 1.1rem;
                    box-sizing: border-box;
                    border-top:0.01rem solid #e4e4e4;
                    .li-ul{
                        float:left;
                        margin: 0 0.4rem;
                        width:6.8rem;
                        height: 1.1rem;
                        .li-list{
                            float:left;
                            width:33.3%;
                            height: 100%;
                            text-align: left;
                            color: #4a4a4a;;
                            line-height: 1.1rem;
                            font-size: 0.30rem;
                            color: #191814;
                            .img{
                                margin: auto;
                                width:auto;
                                height: 100%;
                            }
                        }
                        .li-date{
                            width:30%;
                        }
                        .li-img-box{
                            width:25%;
                            text-align: center;
                        }
                        .li-temp{
                            text-align: right;
                            width:45%;
                            font-size: 0.28rem;  
                            color: #848484;                 
                        }
                    }
                }
            }

            .temp-low::after{
                content: "° /"
            } 
             .temp-high::after,.cur-temp::after{
                 content: "°"
             } 
        }
    }
  
    

      /*cartIcon*/
      .van-tabbar--fixed{
        position: static;
        background: rgba(0,0,0,0);
    }

  
}

