<template>
<div class="pageLoad">
    <div class="iphoneX-main" id="iphoneX-main-pageLoad">
      <h1 class="pageLoad-title">{{ msg }}</h1>
      <div class="pageLoad-progress">
        <van-circle class="proCircle" v-model="currentRate" size="1rem" :rate="rate" color="#e5bd36" layer-color="#eee" :text="text" :stroke-width="60" />
      </div>
      <footer class="pageLoad-footer">
        <div>Powered by Panora</div>
        <div>www.panora.com.cn</div>
      </footer>
    </div>
</div>
</template>

<script>
  export default {
    name: "pageLoad", // 启动页
    data() {
      return {
        msg: "BUTLER",
        prencentNum: 0, // 进度比例
        currentRate: 0,
        text: "0%",
        rate: 1,
        allTime: "6000"
      };
    },
    mounted: function() {
      localStorage.setItem("userLogin", "false"); // 设定参数(用于判定是否已经登录)
      this.progressBar(); // 进度条加载
      $(".van-circle__text").css("color", "#E5BD36");
    },
    methods: {
      progressBar: function() {
        let num = 0; // 初始化进度条数字
        let _this = this;
        _this.axios
          .get(
            // 时间获取接口
            "" + _this.$root.domainName + "/api/junctioncore/v1/page/butler_startpage/?" + _this.$root.junAppName + "",
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                let times = sucss.data.data.startup.stayTimeSec; // 获取接口提供的时间
                let timeList = times * 1000 / 100; // 平均的百分比时间
                let timer = setInterval(function() {
                  num++;
                  if (num == 101) {
                    clearInterval(timer); // 清除定时器
                    _this.$router.push({
                      path: '/welcome'
                    }); // 跳转页面
                  } else {
                    _this.rate = num + 1;
                    _this.text = num + "%";
                  }
                }, timeList);
              }
            },
            function(error) {}
          );
      }
    },
    destroyed: function() {
      // 数据页面初始化
      localStorage.setItem("productPageIndex", ""); // 产品信息列表页数据初始化
      localStorage.setItem("infoNumCart", ""); //购物车数据为空
    }
  };
</script>

<style src="../css/pageLoad.scss" lang="scss" scoped>

</style>
