<template>
 <div class="welcome">
    <div class="iphoneX-main" id="iphoneX-main-welcome">
      <div class="welcome-title">
        <img v-lazy="welLogoImg" :key="welLogoImg">
      </div>
      <div class="welcome-note">
        <h3 class="welcome-note-tt" v-show="welcomeTitleShow">{{welcomeTitle}}</h3>
        <p class="welcome-note-p" id="welcome-note-p">{{welcomeWords}} </p>
      </div>
      <div class="signature-box" v-show="imgSignatureShow">
        <div class="signature-tt">{{welcomeSignTt}}</div>
        <div class="signature-name"><img v-lazy="imgSignature" :key="imgSignature" /></div>
      </div>
      <div class="welcome-btn-box welcome-btn-language">
        <button class="languageBtn" @click="changeLanguage('zh')" v-bind:class="{'languageBtnActive':languageState}">中文</button>
        <button class="languageBtn" @click="changeLanguage('en')" v-bind:class="{'languageBtnActive':!languageState}">English</button>
      </div>
    </div>
 </div>

</template>

<script>
  export default {
    name: "welcome",
    data() {
      return {
        welLogoImg: "", // logo
        welcomeWords: "", // 欢迎词
        welcomeSignTt: "", // 签名title
        imgSignature: "", // 签名信息
        continueBtn: "", // 继续
        welcomeSrc: "/index", // 跳转页面
        languageState: true,
        languageSetting: "",
        imgSignatureShow: false,
        welcomeTitle: "", // 标题
        welcomeTitleShow: false
      };
    },
    mounted: function() {
      localStorage.setItem("userLogin", "false"); // 设定参数(用于判定是否已经登录)
      this.welcomeLoad();
    },
    methods: {
      welcomeLoad: function() {
        let _this = this;
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let restaurantId = localStorage.getItem("restaurantId"); // 获取restaurantId
        let countrySet = localStorage.getItem("countrySet"); // 国家设置
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "zh-cn") {
          this.welcomeSignTt = "经理签名：";
          this.continueBtn = "下一步";
        } else if (languageSet == "en") {
          this.welcomeSignTt = "General Mangager:";
          this.continueBtn = "Continue";
          $(".signature-tt").css("margin-left", "15%"); // 调整签名样式
        }
        _this.axios
          .get(
            // 签名获取接口
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/page/butler_welcomepage/?" +
            _this.$root.junAppName +
            ""
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let welData = sucss.data.data; // 获取欢迎页面的数据
              console.log("welData", welData);
              let welWordTt = welData.translates[languageSet].welcomeTitle; // 欢迎标题
              if (welWordTt) {
                _this.welcomeTitleShow = true;
                _this.welcomeTitle = welWordTt;
              } else {
                _this.welcomeTitleShow = false;
              }
              let welWords = welData.translates[languageSet].welcomeMessage; // 欢迎词
              _this.welcomeWords = welWords; // 欢迎词
              document.getElementById("welcome-note-p").innerHTML = _this.welcomeWords;
              if (allImagesObj) {
                let welLogoId = welData.welcome.logo.internalImageId; // logo的id值
                if (welLogoId) {
                  _this.welLogoImg = allImagesObj[welLogoId].internal_image_url; // logo图片设置
                }
                let welSignImageS = welData.welcome.managerSignature;
                if (welSignImageS && welSignImageS.internalImageId) {
                  let welSignImageId = welSignImageS.internalImageId; // logo的id值
                  _this.imgSignature =
                    allImagesObj[welSignImageId].internal_image_url; // 签名图片设置
                  _this.imgSignatureShow = true;
                } else {
                  _this.imgSignatureShow = false;
                }
              }
            }
          });
      },
      changeLanguage: function(type) {
        let languageSet = "zh-cn";
        if (type == "en") {
          languageSet = "en";
          this.languageState = false;
        } else {
          this.languageState = true;
        }
        localStorage.setItem("languageSet", languageSet); // 语言设定
        this.$router.push({
          path: "/index"
        }); // 跳转到首页
      }
    }
  };
</script>
<style src="../css/welcome.scss" lang="scss" scoped>

</style>
