<template>
  <div class="roomSlider clearBox">
     <ul class="slider">
        <li class="slider-list" v-for="(itemIcon,index) in itemIcons"  
        :key="index" v-bind:class="{'slider-list-active': itemIcon.state}" @click.stop="changePge(index)">
            <div class="title"><i class="iconfont" :class="itemIcon.icon"></i></div>
            <div class="title title1">{{itemIcon.title}}</div>
            <div class="arrowhead" v-show="itemIcon.state"></div>
        </li>
     </ul>
  </div>
</template>
<script>
  export default {
    name: "roomSlider",
    data() {
      return {
        itemIcons:[
            {"icon":"icon-light", "title":"Light", "state":true, path:"/light"},
            {"icon":"icon-ac", "title":"AC", "state":false, path:"/ac2"},
            {"icon":"icon-scenes", "title":"Main", "state":false, path:"/bangqi"},
            {"icon":"icon-Musicicon1", "title":"Audio", "state":false, path:"/audio"},
            
        ]
      };
    },
    mounted: function() {
        this.roomSliderLoad();
    },
    methods: {
        roomSliderLoad:function(){
            let languageSet = localStorage.getItem("languageSet");
            if (!languageSet) {
            languageSet = "en";
            }
            this.changeText(languageSet);
            let sliderIndex = localStorage.getItem("sliderIndex");
            if(!sliderIndex || sliderIndex == "null"){
                sliderIndex = 0
            }else{
                sliderIndex = parseInt(sliderIndex);
            }
            this.changePge(sliderIndex);
        },
        changePge: function (index) {
            for(let i=0; i<this.itemIcons.length; i++){
                this.itemIcons[i].state = false;
            }
            console.log(index,typeof(index));
             this.itemIcons[index].state = true;
             let pathR = this.itemIcons[index].path;
             this.$router.push({path:pathR});
             localStorage.setItem("sliderIndex",index);
        },
        changeText:function(lang){
            let arr1 = ["Light","AC","Room Status","audio"];
            let arr2 = ["灯控","空调","房态","音乐"];

            let arr = [];
            if(lang == "en"){
                arr = arr1;
            }else{
               arr = arr2;  
            }
            for(let i=0; i<arr.length; i++){
                this.itemIcons[i].title = arr[i];
            }
        }
    }
  };
</script>


<style>
 .roomSlider{
    float:left;
     width:1.3rem;
     height:100%;
    background:rgba(43,44,51,1);
 }
.slider{
    float: left;
    width:100%;
    height: auto;
    overflow: auto;
}
.slider-list{
    float:left;
    width:1.3rem;
    height: 1rem;
    color: #fff;
    padding:0.15rem 0;
    border-bottom:0.02rem solid rgba(130,130,130,1);
    font-size: 0.20rem;
    opacity: 0.7;
    position: relative;
}
.arrowhead{
    position: absolute;
   width:0;
   height:0;
   right: 0;
   top:0.5rem;
   border-width:0.15rem 0.15rem 0.15rem 0;
   border-style:solid;
   border-color:transparent #000 transparent transparent;
}
.slider-list-active{
    background:rgba(210,172,43,1);
    opacity: 1;
}
.slider-list .title{
    float:left;
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
}
.slider-list .title1{
    height: 0.3rem;
    line-height: 0.3rem;
}
.slider-list .iconfont{
    font-size:0.42rem;
}

</style>
