<template>
    <div class="roomCommon audio">
        <room-top></room-top>
        <div class="roomCommon-con">
            <room-slider></room-slider>
            <div class="roomCommon-main clearBox">

            <ul class="main-top clearBox">
                <li class="top-list" v-bind:class="{'pointerDefault': !swithState}">
                <div class="top-list-box" v-bind:class="{'voice-active':voiceActive}" @click.stop="voiceSwith">
                    <i class="iconfont icon-mute"></i>
                </div>
                </li>
                <li class="top-list top-middle">
                <!-- <van-picker :columns="columns" @change="onChange" 
                :visible-item-count="3" :item-height="33" /> -->
                </li>
                <li class="top-list">
                <div class="top-list-box" v-bind:class="{'swith-all-active':swithState}" @click.stop="allSwith">
                    <i class="iconfont icon-on"></i>
                </div>
                </li>
            </ul>


            <div class="main-content clearBox" v-bind:class="{'pointerDefault': !swithState}">
                <div class="main-circle">
                  <div class="circle-second"></div>
                </div>
            </div>



            <ul class="main-vol clearBox" v-bind:class="{'pointerDefault': !swithState}">
              <li class="box-icon left" @click.stop="volsub()"  v-bind:class="{'icon-middle':volsubicon.position, 'icon-active':volsubicon.state}">
                    <i class="iconfont" :class="volsubicon.iconImg"></i>
              
              </li>
              <li class="box-line center" id="volnum" data-volnum="50">
                   
                    <span class=""></span>
                 
              </li>
              <li class="box-icon right" @click.stop="voladd()"  v-bind:class="{'icon-middle':voladdicon.position, 'icon-active':voladdicon.state}">
                   
                    <i class="iconfont" :class="voladdicon.iconImg"></i>
              </li>
            </ul>





            <ul  class="main-bottom clearBox" v-bind:class="{'pointerDefault': !swithState}">
              <li class="bottom-li" v-for="(audioControlList,index) in audioControlLists" :key="index"  @click.stop="btnClick(index)">
                <div class="box-icon" v-bind:class="{'icon-middle':audioControlList.position, 'icon-active':audioControlList.state ,'left':(index==0),'play':(index==1), 'right':(index==2)}">
                 <i class="iconfont" :class="audioControlList.iconImg"></i>
                </div>
              </li>
            </ul>
           
            </div>
        </div>
  </div>
</template>

<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
export default {
    name: "tv",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        columns: [
          { text: 'Livingroom TV'},
          { text: 'Bedroom TV'},
          { text: 'Washroom TV' }
        ],
        swithState:false,
        voiceActive:false,
        voladdicon:{iconImg:"icon-thevolumereduction",position:false, state:false, CardNo:"2",ChannelNo:"5"},
        volsubicon:{iconImg:"icon-thevolumeand",position:false, state:false,CardNo:"2",ChannelNo:"6"},
        audioControlLists:[
          {iconImg:"icon-thenextsong", position:false, state:false, CardNo:"2",ChannelNo:"7"},
          {iconImg:"icon-play", position:false, state:false, CardNo:"2",ChannelNo:"4"},
          {iconImg:"icon-Inasong", position:false, state:false, CardNo:"2",ChannelNo:"8"}
        ]
        
      };
    },
    methods: {
      tvLoad:function(){
          let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {// 英文状态
          this.columns = [
            { text: 'Livingroom TV'},
            { text: 'Bedroom TV'},
            { text: 'Washroom TV' }
          ]
        }
        if (languageSet == "zh-cn") { // 中文状态
           this.columns = [
            { text: '客厅'},
            { text: '卧室'},
            { text: '盥洗室' }
          ]
        }
      },
      onChange: function(picker, value, index) {
        // 获取电视系统的值
      },
      allSwith: function(){
        if(this.swithState == true){
          this.swithState = false; // 关闭总开关
          this.changeState();   // 关闭所有按钮
          this.voiceActive = false; // 关闭静音按钮
           this.sendCommand(2,1);
             this.audioControlLists[1].ChannelNo = "4";
                this.audioControlLists[1].iconImg = "icon-play";
        }else{
          this.swithState = true; // 开启总开关
          this.sendCommand(2,2)
          this.btnClick(1);
        //    setTimeout(() => {
        //    this.swithState = false;
        // }, 100);
        }
      },
      voiceSwith:function(){
          if(this.voiceActive == true){
             
              this.voiceActive = false; 
               console.log("取消静音")
                this.sendCommand(2,9,true);
          }else{
             
               this.voiceActive = true; 
                this.sendCommand(2,9,false);

                console.log("静音")
          }
      },
      voladd: function(){

        this.voladdicon.state = true;  // 给当前点击的按钮添加选中状态
        this.sendCommand(2,5);
         setTimeout(() => {
           this.voladdicon.state = false;//清除所有按钮
        }, 100);
      },
       volsub: function(){

        this.volsubicon.state = true;  // 给当前点击的按钮添加选中状态
         this.sendCommand(2,6);
        setTimeout(() => {
           this.volsubicon.state = false;//清除所有按钮
        }, 100);
      },
      btnClick: function(index){
           console.log(this.audioControlLists[index].ChannelNo);
        
        this.sendCommand(this.audioControlLists[index].CardNo,this.audioControlLists[index].ChannelNo);
          if(index === 1){

       
              if(this.audioControlLists[index].ChannelNo == "4") {
                
                this.audioControlLists[index].ChannelNo = "3";
                this.audioControlLists[index].iconImg = "icon-suspended";
                
                 
              }else if(this.audioControlLists[index].ChannelNo == "3"){
                this.audioControlLists[index].ChannelNo = "4";
                this.audioControlLists[index].iconImg = "icon-play";
                 
                  
              
              }
          }



        this.audioControlLists[index].state = true;  // 给当前点击的按钮添加选中状态
        setTimeout(() => {
          this.changeState(); //清除所有按钮
        }, 100);
        
     },
      changeState:function(){
       
        for(let j=0; j<this.audioControlLists.length; j++){
           
            this.audioControlLists[j].state = false; // 清除按钮的选中状态
        
        }
      },
      sendCommand:function(CardNo,ChannelNo,lv){
        if (lv) lv = 1 ;
        else lv = 0;
        let that = this;
        let rcuApiServer = this.$root.rcuApiServer;
         this.axios.post(
           rcuApiServer +'/rcu/?service=rc.push_dalitak',
            {"hex": that.$root.RCA+ CardNo +that.$root.RCB + ChannelNo +that.$root.RCC + lv +that.$root.RCD}
            )
					.then(function(sures) { 
            console.log("上传成功",sures) 
            })
          .catch(function(catchres) {
            console.log("上传失败",catchres) 
            }) 
      }
    },
    destroyed: function(index) {}
  };
</script>
<style lang="scss" src="../css/audio.scss" scoped>

</style>
