<template>
  <div class="app mainSetImageBg" :style="bgImgSet">
    <div id="app">
      <transition :name="transitionName">
        <router-view class="child-view" @showMsg="showMsg" @hideMsg="hideMsg"></router-view>
      </transition>
      <van-popup v-model="msgControl.show" :position="msgControl.position" :overlay="msgControl.overlay" :class="msgControl.class">
        {{msgControl.msgText}}
      </van-popup>
    </div>
  </div>

</template>

<script>
export default {
  name: "App",
  data() {
    return {
      bgImg: "",
      bgImgSet: { background: ""  }, // 设置背景图片
      transitionName: "slide-right",
      msgControl: {
        show: false,
        position: "top", //top bottom right left
        overlay: false, //是否显示背景蒙层
        class: "van-suc-popup", //类型: "suc"  "err"  仅且固定支持所枚举的两个类型,需要更多类型需要更多自定义样式,在pubstyle.css中添加
        msgText: ""
      }
    };
  },
  mounted: function() {
    localStorage.setItem("userLogin", "false"); // 设定参数(用于判定是否已经登录)
    localStorage.setItem("wholeResText", ""); // 购物车中整体订单的备注信息

    let arr1 = [{key1:1},{key2:2},{key3:3}];
    let arr2 = [{key1:1},{key2:2},{key3:3}];
    console.log(arr1 == arr2);
    this.appImagesLoad(); // 首页图片加载
  },
  methods: {
    appImagesLoad() {
      let _this = this;
      imgAll(); // 加载所右图片
      resJson(); // 获取根目录的数据
      getUserMeg(); // 查询用户信息
     
     // 查询用户信息
      function getUserMeg() {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/customer/get_profile/?" +
              _this.$root.junAppQuery +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(
            function(sucss) {
               console.log("-----",sucss);
              if (sucss.data.ret == "200") {
                let sucData = sucss.data.data;
                console.log("-----",sucData);
                // if (sucData.customer && sucData.customer.is_temp) {
                //   localStorage.setItem("userLogin", "false"); // 临时用户用户未经登录
                // } else {
                //   localStorage.setItem("userLogin", "true"); // 用户已经登录
                // }
              }
            },
            function(err) {
              if (err.response.data.msg == "Not Authenticated.") {
                creatNewUser();// 创建临时用户
              }
            }
          );
      }

      // 创建临时用户
      function creatNewUser() {
        _this.axios
          .post(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/customer/create_temp_customer/?" +
              _this.$root.junAppQuery +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
          console.log("++++",sucss);
           console.log("document.cookieapp",document.cookie);
            localStorage.setItem("userLogin", "false"); // 用户未经登录
          });
      }

      // 加载所有图片
      function imgAll() {
        _this.axios
          .get(
            // 图片获取接口
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/image/?" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let allImages = sucss.data.data; // 获取所有图片的数据
              logoImgUrl(allImages); // 获取logo图片
              getBgImg(allImages);
              allImages = JSON.stringify(allImages);
              localStorage.setItem("allImages", allImages); // 存储所有图片
            }
          });
      }

      // 获取logo的链接地址
      function logoImgUrl(allImages) {
        _this.axios
          .get(
            // 时间获取接口
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/butler_homepage/?" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let DataIndex = sucss.data.data; // 获取数据
                if(DataIndex.homepage &&  DataIndex.homepage.logo){
                  let logoImgId = DataIndex.homepage.logo.internalImageId; // 获取logo图片的索引值
                  if (allImages) {
                    _this.logoImg = allImages[logoImgId].internal_image_url; // 赋值图片列表页
                    localStorage.setItem("logoImgURL", _this.logoImg); // 存储logo图片链接
                  }
                }else{
                  localStorage.setItem("logoImgURL",null); // 存储logo图片链接
                }
            }
          },function(err) {
            localStorage.setItem("logoImgURL", null); // 存储logo图片链接
          });
      }

      // 获取根目录的数据
      function resJson() {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/hotel/?" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let rootData = sucss.data.data;
              let restaurantId = rootData.butlerRestaurantId; // 餐厅id
              localStorage.setItem("restaurantId", restaurantId); // 设定餐厅id
              let hotelTitle = rootData.title; // 酒店名称
              localStorage.setItem("NowHotelTitle", hotelTitle); // 设定酒店名称
              siliderFun1(restaurantId); // 获取餐厅下的信息
              let countryCode = rootData.countryCode; // 获取国家代码
              let languageSet = rootData.defaultLanguage; // 获取语言设置
              let countrySet = "";
              if (countryCode == "CHN") {
                countrySet = true; // 中国
              } else {
                countrySet = false; // 非中国
              }
              resMoney(restaurantId); // 获取人民币符号
              localStorage.setItem("countrySet", countrySet); // 国家设置
              localStorage.setItem("languageSet", languageSet); // 语言设置
            }
          });
      }

      // 在获取到餐厅下获取信息
      function siliderFun1(restaurantId) {
        _this.axios
          .get(
            // 时间获取接口
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/" +
              restaurantId +
              "/?" +
              _this.$root.junAppName +
              ""
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let infoListIdsArr = sucss.data.data.infoListIds; // 获取数据列表信息
              let jsonInfoList = infoListIdsArr.join(",");
              siliderFun2(jsonInfoList); // 获取信息列表页的数据信息
            }
          });
      }

      // 获取餐厅下的信息列表页的数据信息，json信息列表页的id
      function siliderFun2(json) {
        _this.axios
          .get(
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              json +
              "&" +
              _this.$root.junAppName +
              "",
            {}
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let arr = sucss.data.data[0].infoListIds; // 获取页面对应的pageId的数据
              let json = arr.join(",");
              localStorage.setItem("indexSliderJson", json); // 设定
            }
          });
      }

      // 获取人民币符号
      function resMoney(restaurantId) {
        _this.axios
          .get(
            // 时间获取接口
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/" +
              restaurantId +
              "/?" +
              _this.$root.junAppName +
              ""
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let moneyIcon = sucss.data.data.currencyCode; // 获取人名币符号
              moneyIcon = moneyIcon.toUpperCase(); // 转换成大写
              let moneyImg = "";
              if (moneyIcon == "CNY") {
                moneyImg = "￥"; // 人名币
              } else if (moneyIcon == "USD") {
                moneyImg = "$"; // 美元
              } else if (moneyIcon == "EUR") {
                moneyImg = "€"; // 欧元
              } else if (moneyIcon == "GBP") {
                moneyImg = "￡"; // 英镑
              } else if (moneyIcon == "JPY") {
                moneyImg = "J￥"; // 日元
              }

              localStorage.setItem("moneyIcon", moneyImg); // 设置货币符号
            }
          });
      }

      //获取跳转链接的类型
      function getTypeHref(type) {
        //changeData是函数名
        let href = "";
        if (type == "MERCHANDISE_CATEGORY" || type == "MERCHANDISE") {
          href = "product"; // 商品类别
        } else if (type == "INFO") {
          href = "proList"; // 信息展示类别
        } else if (type == "WEATHER") {
          href = "weatherDetail"; // 信息展示类别
        } else {
          href = "";
        }
        return href;
      }

      // 获取背景图片
      function getBgImg(allImages) {
        _this.axios
          .get(
            // 时间获取接口
            "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/butler_welcomepage/?" +
              _this.$root.junAppName +
              ""
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              let ImgBgUrlId =
                sucss.data.data.welcome.backgroundImage.internalImageId; // 获取bg图片的id值
              if (allImages) {
                _this.bgImgUrl = allImages[ImgBgUrlId].internal_image_url; // 赋值图片列表页              
                (_this.bgImgSet.background =
                  "url(" + _this.bgImgUrl + ") no-repeat 100% 100%"),
                  localStorage.setItem("bgImgUrl", _this.bgImgUrl); // 存储图片链接
                  _this.ImgWidthHeight( _this.bgImgUrl,_this.bgImgSet); 
              }
            }
          },function(err) {
            localStorage.setItem("bgImgUrl",null); // 存储图片链接
          });
      }
    },
    clickToHref(href, pageIdArr) {
      // 点击跳转链接
      this.$router.push({ name: href, query: { pageId: pageIdArr } });
    },
    //显示消息
    showMsg: function(data) {
      var that = this;
      that.msgControl.show = true;
      that.msgControl.position = data.position
        ? data.position == undefined || data.position == ""
        : "top";
      that.msgControl.overlay = data.overlay
        ? data.overlay == undefined
        : false;
      that.msgControl.msgText =
        data.msgText == "" || data.msgText == undefined
          ? "发生错误"
          : data.msgText;
      that.msgControl.class =
        data.type == "" || data.type == undefined
          ? "van-suc-popup"
          : "van-" + data.type + "-popup";
      if (data.duration != undefined && data.duration > 0) {
        var s = setTimeout(function() {
          that.hideMsg();
        }, data.duration * 1000);
      }
    },
    //隐藏消息
    hideMsg: function() {
      var that = this;
      that.msgControl.show = false;
      that.msgControl.position = "top";
      that.msgControl.overlay = false;
      that.msgControl.msgText = "";
    },
    webviewSignIn() {
      // 安卓/ios判断免登陆的功能
      ////////////////////////////////////////////////////////////////获取登录信息
      //获取登录状态接口 手机端调用js
      if (window.WebViewJavascriptBridge) {
        let arr = [true, "86-13899996622", "123456"];
        WebViewJavascriptBridge.callHandler("setIsAutoLogin", arr);
      }
      if (window.WebViewJavascriptBridge) {
        WebViewJavascriptBridge.callHandler("getIsAutoLogin", null, function(
          response
        ) {
          console.log(response);
        });
      }
    }
  },
  watch: {
    // 路由动画判断前进、后退
    $route(to, from) {
      let isBack = this.$router.isBack;
      if (isBack) {
        this.transitionName = "slide-right";
      } else {
        this.transitionName = "slide-left";
      }
      this.$router.isBack = false;
    }
  }
};
</script>

<style>
.app {
  width: 100%;
  height: 100%;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  background: rgba(22, 62, 53, 0.8);
  overflow: scroll;
  background: linear-gradient(rgba(10,35,99,0.9) 0%,rgba(0,64,152,0.6) 100%);
  position: absolute;
  -webkit-overflow-scrolling: touch;
  z-index:1;
}

.child-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
</style>
